@font-face {
  font-family: BR;
  src: url("./배스킨라빈스\ B.ttf");
}

@font-face {
  font-family: BMEuljiro;
  src: url("./BMEuljirooraeorae.ttf");
}

@font-face {
  font-family: Yeonsung;
  src: url("./BMYEONSUNG_ttf.ttf");
}

@font-face {
  font-family: BM;
  src: url("./BMEULJIROTTF.ttf");
}
